html {
    background-color: rgb(118, 154, 118);
}

header{
    color: #000;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 20px;
    padding: 50px;
}

.row-flex {
    display: flex;
    flex-direction: row;
}

.flex-column-form {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 30px 20px;
}

.btn.btn-primary {
    font-family: 'Big Shoulders Text', cursive;
    color: #ffffff;
    background-color: #95999e;
    text-transform: uppercase;
    font-size: 16px;
    padding: 5px 10px;
    letter-spacing: 2px;
    border: 0;
}

.btn.btn-primary:hover {
    background-color: #159f4c;
}
.opening-time,
.contact-adress {
    flex: 1;
    margin: 30px 20px;
    font-size: 1.2em;
}

.form-group p {
    font-size: 1.2em;
}

.opening-time p span,
.contact-adress p span {
    display: block;
}


footer {
    background: rgb(49, 49, 49);
    padding: 8rem 0;
}

footer .flex {
    padding-bottom: 6rem;
    border-bottom: 1px solid rgb(245, 240, 240);
}

footer h5 {
    color: #fff;
    margin-bottom: 1rem;
    font-weight: 300;
}

footer h5.follow-us {
    margin-top: 1rem;
}

footer .footer-quick-links ul {
    list-style-type: none;
    font-size: medium;
    padding: 0;
    margin: 0;
}

footer .footer-quick-links ul li {
    margin: 10px 0;
}

footer .footer-quick-links ul li a {
    color: #777;
    text-decoration: none;
}

footer .footer-quick-links ul li a:hover {
    color: #fff;
}

footer .footer-subscribe {
    width: 40%;
}

#subscribe-container {
    position: relative;
}

footer .footer-subscribe input {
    border-radius: 30px;
    height: 43px;
    font-family: "Roboto", "Helvetica", "Sans-serif";
    border: 1px solid #6c757d;
    background-color: transparent;
    font-size: 1rem;
    padding: 10px;
    color: #fff;
    box-sizing: border-box;
    width: 80%;
}

footer button.right-rounded {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    background: #f69314;
    font-size: 16px;
    color: #000;
    padding: 10px 30px 9px;
    line-height: 1.5;
    cursor: pointer;
    border: none;
    position: absolute;
    right: 0;
}

footer button.right-rounded:hover {
    background: #fff;
}

footer .footer-subscribe ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

footer .footer-subscribe ul li {
    display: inline-block;
    margin: 0 16px;
}

footer .footer-subscribe ul li:first-child {
    margin-left: 0;
}

footer .footer-subscribe ul li a {
    text-decoration: none;
    color: rgb(245, 241, 241);
}

footer .footer-subscribe ul li a:hover {
    color: #fff;
}

footer small {
    margin-top: 3rem;
    font-size: 1rem;
    display: block;
    text-align: center;
    color: white;
}

