h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 50px;
    color: rgb(83, 111, 36);
    text-align: center;
    background-color: rgb(131, 246, 183);
}

html {
    background-color: rgb(248, 248, 244);
}

.container {
    background-color: rgb(17, 95, 114);
    margin: 50px;
    padding: 30px;
    float: center;
}

p {
    font-size: larger;
    margin: 20px;
    text-align: center;
}

input[type=text] {
    padding: 5px;
    background-color: rgb(194, 230, 217);
    font-size: 15px;
    width: 150px;
    border: none;
}

th {
    padding: 50px;
    font-size: medium;
    color: rgb(29, 2, 2);
    float: center;
}

select[name=accessLevel] {
    padding: 5px;
    background-color: rgb(194, 230, 217);
    font-size: 15px;
    font-weight: 50;
    width: 50px;

}

input[type=submit] {
    padding: 5px;
    background-color: rgb(194, 230, 217);
    font-size: 15px;
    width: 100px;
    border: none;
}

td {
    padding: 5px;
    text-align: center;
}
