p {
    font-size: larger;
    margin: 20px;
    text-align: center;
}

.container {
    background-color: rgb(17, 95, 114);
    margin: 50px;
    padding: 30px;
    float: center;
}


h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 50px;
    color: rgb(83, 111, 36);
    text-align: center;
    background-color: rgb(133, 197, 162);
}

input[type=date] {
    padding: 5px;
    background-color: rgb(167, 181, 176);
    box-shadow: 3px 3px 5px grey;
    font-size: 20px;
    font-weight: 100;
    width: 300px;
}

label{
    font-size: 20px;
    margin-top: 20px;
    color: rgb(17, 24, 26);
    font-size: 30px;
    margin: 300px;
    padding: 100px;
    width: 100%;    
}

input[type=submit] {
    padding: 5px;
    background-color: rgb(194, 230, 217);
    font-size: 15px;
    width: 120px;
    border: none;
}


button{
    padding: 5px;
    background-color: rgb(194, 230, 217);
    font-size: 15px;
    width: 120px;
    border: none;
}

select[class=new-roster-select] {
    padding: 5px;
    background-color: rgb(194, 230, 217);
    font-size: 15px;
    width: 80px;
    border: none;
    text-align: center;
}


