.container {
    background-color: rgb(17, 95, 114);
    border: 5px solid rgb(160, 149, 85);
    margin: 50px;
    padding: 80px;
    float: left;
}

h1 {
font-family: 'Jost', sans-serif;
margin: 50px;
padding: 0;
width: 100%;
height: 0;
}

input {
    display: inline-block;
    margin-top: 15px;
    margin-left: 20px;
}

button{
    margin: 50px;
    color: blue;
    padding:5px 5px; 
    border:0 none;
    border-radius: 5px; 
}

input[type=submit] {
    padding:5px 5px; 
   color: blue;
    border:0 none;
    border-radius: 5px; 
}

p {
    font-size: larger;
    margin: 20px;
    text-align: center;
}



