*, *:before, *:after {box-sizing: border-box; padding: 0; margin: 0;}


.landing-page-header{
    height: 75px;
    width: 100%;
    border: 5px solid black;
}
.master-header{
    width: 100%;
    height: 100px;
    background-color: green;
    display: flex;
    justify-content: space-between;
    padding:20;
    font-size: 50px;
    color: whitesmoke;
}

.search-form{
    margin-right:10;
}
.search-filter{
    float: left;
    border: none;
    border: 1px solid gray;
    border-radius: 5px 0px 0px 5px;
    height: 30px;
}
.search-input{
    border: none;
    float: left;
    height: 30px;
    width: 400px;
    padding-left: 15px;
    border-bottom:1px solid gray;
    border-top: 1px solid gray;
    box-shadow: 0 0 2px lightgrey inset;
}
.search-input:focus{
    outline: none !important;
    box-shadow: 0 0 5px #719ECE;
}
.search-submit{
    border: none;
    height: 30px;
    border: 1px solid gray;
    border-radius: 0px 5px 5px 0px;
    width:30px
}
#account-container {
    text-align: center;
}
#account-form-btn {
    margin: 30px auto 10px auto;
    width: fit-content;
    padding: 5px;
}
/* #login-div {
    display: flex;
} */
#register-div {
    display: none;
}
.account-div {
    text-align: center;
    margin: 30px auto;
    border: 2px solid black;
    border-radius: 10px;
    width: 33vw;
    padding: 15px;
    background-color: lightgray;
}
#register-div input, #register-div select {
    display: block;
    width: 90%;
}
#login-div input, #login-div select {
    display: block;
    width: 45%;
}
#register-inputs-div, #patient-only-div {
    width: 50%;
    float: left;
}
.account-form {
    margin: 10px;
}
.account-form input, .account-form select {
    margin: 5px auto;
}
#account-body {
    background-image: url("./oldpeople.jpeg");
    background-position: top left;
    background-size: cover;
}

