*, *:before, *:after {box-sizing:border-box; padding:0; margin:0}

.landing-page-header{
    height: 75px;
    width: 100%;
    border: 5px solid black;
}
.master-header{
    width: 100%;
    height: 100px;
    border:1px solid black;
    background-color: green;
    display: flex;
    justify-content: space-between;
    padding:20;
    font-size: 50px;
    color: whitesmoke;
}

